body{
    margin: 0;
    padding: 0;

}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 100vh;
    background: linear-gradient(rgba(250, 250, 250, 0.2),rgba(250, 250, 250, 0.2)), url(anthony-delanoix-15928-unsplash.jpg);
    background-size: cover;
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.bold{
    font-family: 'Permanent Marker', cursive;
}


h1{
    font-size: 250%;
    margin: 5px;
    text-align: center;
}

h2{
    font-size: 150%;
}

.start-btn{
    width: 18%;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    border: none;
    font-family: 'Rubik', sans-serif;                 
    background-color: #4C5F6E;
    font-size:100%;
}

.reviews{
    display: none;
}





@media only screen and (min-width: 778px) {
    a{
        align-self: flex-end;
    }
    .reviews{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 20%;
    }

    .review1, .review2, .review3{
        width: 25%;
    }


}