<div class="bucket-page">
<section class="about-section">
    <img src="components/favorites/newt-scamander.png" alt="Newt Scamander" class="profile-img"> <!-- We can change this img -->
    <p id="about-me">About Me:</p>
    <p>Lover of obscure bands. Also a fan of bands such as Artic Monkeys, Arcade Fire, and Coldplay.</p> <!-- Persona description to go here -->
    <a class="back-to-search" href="#!/search"><i class="fas fa-step-backward"></i>Back to Search</a> <!-- Add functionality to go to Search -->
</section>

<section class="bucket-container">
    <p class="profile-name">Newt Scamander</p> <!-- Persona name here -->
    <p id="my-events">My Events:</p>
    <section class="event-container">
        <div ng-repeat = "fav in $ctrl.favList track by $index"class="event-info"> <!-- This will be the repeating section for each event favorite-->
            <p class="event-title">{{ fav.name}}</p>
            <p>{{ fav._embedded.venues[0].address.line1 }}, {{ fav._embedded.venues[0].city.name }} </p>
            <p class="event-date">{{ fav.dates.start.localDate}}</p>
            <p>{{ fav._embedded.venues[0].name }}</p>
            <a href="{{ fav.url }}">Get Tickets</a>
            <i ng-click="$ctrl.removeFav($index)" class="fas fa-ban delete-event"></i> <!-- Add delete functionality -->
        </div>
    </section>
</section>
</div>