<div class="bucket-page">
    <section class="about-section">
        <img src="components/favorites/newt-scamander.png" alt="Newt Scamander" class="profile-img">
        <!-- We can change this img -->
        <p id="about-me">About Me:</p>
        <p>Lover of obscure bands. Also a fan of bands such as Artic Monkeys, Arcade Fire, and Coldplay.</p>
    </section>

    <section class="bucket-container">
        <p class="profile-name">Newt Scamander</p> <!-- Persona name here -->
        <p id="my-events">My Events:</p>
        <section class="event-container">
            <div ng-repeat="fav in $ctrl.favList track by $index" class="event-info">
                <!-- This will be the repeating section for each event favorite-->
                <img src="{{fav.images[1].url}}" class="event-img">
                <div class="clearfix"></div>
                <div class="event-details">
                <p class="event-title">{{ fav.name}}</p>
                <p>{{ fav._embedded.venues[0].address.line1 }}, {{ fav._embedded.venues[0].city.name }} </p>
                <p>{{ fav.dates.start.localDate}}</p>
                <p>{{ fav._embedded.venues[0].name }}</p>
                <a class="get-tickets" href="{{ fav.url }}">Get Tickets</a>
                <i ng-click="$ctrl.removeFav($index)" class="fas fa-ban delete-event"></i>
                </div>
            </div>

        </section>
        <div class="bottom-fix"></div>
    </section>
</div>

<footer>
    <a class="page-back" href="#!/event-list"><i class="fas fa-step-backward"></i>Back To Results</a>
    <a class="page-forward" href="#!/search">New Search<i class="fas fa-step-forward"></i></a>
</footer>