/* @media only screen and (max-width:480px){
     */
    .search-container{
        display:flex;
        flex-direction:column;
        /* justify-content: center; */
        height:400px;
        /* align-items: center; */
        /* height:400px; */

    }
    .top-nav{
        height: 100px;
        width: 400px;
        background-color: #4C5F6B;
        opacity: 0.5;
    }   
    input{
        width:100%;
    }
/* } */