<section class="search-container">
    <section class="top-nav">
    </section>
    <form ng-submit="$ctrl.eventSearch($ctrl.searchPara);">
        <input type="text" ng-model="$ctrl.searchPara.keyword" placeholder="keyword"><!--<i class="fas fa-search"></i>-->
        <input type="text" ng-model="$ctrl.searchPara.zipCode" placeholder="zipcode"><!--<i class="fas fa-search"></i>-->
        <input type="date" ng-model="$ctrl.searchPara.startDate" placeholder="yyyy-MM-dd"><!--<i class="fas fa-search"></i>-->
        <input type="date" ng-model="$ctrl.searchPara.endDate" placeholder="end date"><!--<i class="fas fa-search"></i>-->
        <button class="search-button">Search</button>
    </form>
    <i class="fas fa-heart"></i>
    <i class="fas fa-search"></i>
</section>