<section class="search-container">
    <section class="top-nav">
    </section>
    <form ng-submit="$ctrl.eventSearch($ctrl.searchPara);">
        <label for="keyword">keyword</label>
            <input name="keyword" type="text" ng-model="$ctrl.searchPara.keyword" placeholder="keyword"><!--<i class="fas fa-search"></i>-->
        
        <label for="zip-code">zipcode</label> 
            <input name="zip-code" type="text" ng-model="$ctrl.searchPara.zipCode" placeholder="zipcode"><!--<i class="fas fa-search"></i>-->
           
        <label for="start-date">start-date</label>
            <input name="start-date" type="date" ng-model="$ctrl.searchPara.startDate"><!--<i class="fas fa-search"></i>-->
        
        <label for="end-date">end-date</label>
            <input name="end-date" type="date" ng-model="$ctrl.searchPara.endDate"><!--<i class="fas fa-search"></i>-->
       
        
        <button class="search-button">Search</button>
    </form>
    <i class="fas fa-heart"></i>
    <i class="fas fa-search"></i>
</section>